.title-main {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 130%;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.subtitle-main {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 500;
  font-size: 28px;
  line-height: 130%;
  letter-spacing: 0.05em;
  color: #FFFFFF;
}

.title {

}

.subtitle {

}